/* .glow {
  animation: glowPulse 2s ease-in-out infinite;
  border-color: #3b82f6 !important; 
}

@keyframes glowPulse {glow_box
  0%, 100% {
    box-shadow: 0 0 0px 0px rgba(59, 130, 246, 0.5);
  }
  50% {
    box-shadow: 0 0 15px 4px rgba(59, 130, 246, 0.7);
  }
} */


.glow_box {
  position: relative;
  overflow: hidden;
}

.glow_box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    from 0deg,
    transparent,
    #3b82f6,
    transparent 25%,
    transparent 50%,
    #3b82f6,
    transparent 75%,
    transparent
  );
  animation: rotateGlow 8s linear infinite;
  z-index: 1;
}

.glow_box::after {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: #111;
  z-index: 2;
  border-radius: 0.5rem;
}

/* Make the border line move */
@keyframes rotateGlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
